<!-- Content Wrapper. Contains page content
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Operator Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Operator Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <section class="row">
        <div class="col-lg-3.05 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>6</h3>

              <p>Number of trucks which are in</p>
            </div>
            <div class="icon">
              <i class="ion-android-bus"></i>
            </div>
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-4.15 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>6<sup style="font-size: 20px"></sup></h3>
              <p>Number of trucks which are out</p>
            </div>
            <div class="icon">
              <i class="ion-android-bus"></i>
            </div>
          </div>
        </div>

        <section class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>48000 LIT</h3>

              <p>Amount of Gasohol95 already filled</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>            
          </div>
        </div>
      
        
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>48000 LIT</h3>

              <p>Amount of Diesel already filled</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>             
          </div>
        </div>
      
        
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info ">             
            <div class="inner">
              <h3>55 Minute</h3>

              <p>Average Diesel cycle time</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-time"></i>
            </div>             
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>64 Minute</h3>

              <p>Average Gasohol95 cycle time</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>             
          </div>
        </div>
      </section>

      <section class="row">
      <!-- ./col -->
      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>1 Truck</h3>

            <p>Number of trucks which are WIP at Sale Office</p>
          </div>
          <div class="icon">
            <i class="ion ion-time"></i>
          </div>           
        </div>
      </div>


      <!-- ./col -->
      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>1 Truck</h3>

            <p>Number of trucks which are WIP at Inbound WB</p>
          </div>
          <div class="icon">
            <i class="ion ion-time"></i>
          </div>           
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>1 Truck</h3>

            <p>Number of trucks which are WIP at Gasohol95 Bay</p>
          </div>
          <div class="icon">
            <i class="ion ion-time"></i>
          </div>           
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>1 Truck</h3>

            <p>Number of trucks which are WIP at Diesel Bay</p>
          </div>
          <div class="icon">
            <i class="ion ion-time"></i>
          </div>           
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>1 Truck</h3>

            <p>Number of trucks which are WIP at Outbound WB</p>
          </div>
          <div class="icon">
            <i class="ion ion-time"></i>
          </div>           
        </div>
      </div>
     </section>
      
        <section class="row">
          <!-- solid sales graph -->
          <section class="card bg-gradient-info">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                Average waiting time at each station
              </h3>
              <div class="card-tools">
                <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas> 
            </div>
            <!-- /.card-body -->
            <div class="card-footer bg-transparent">
              <div class="row">
                <div class="col-4 text-center">
                  <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"  data-fgColor="#39CCCC">
                </div>
              </div>
            </div>
          </section>
        </section> 
  </section>
</div>

 -->



 <div class="panel-header panel-header-lg">
  <canvas baseChart id="bigDashboardChart"
              [datasets]="lineBigDashboardChartData"
              [labels]="lineBigDashboardChartLabels"
               [colors]="lineBigDashboardChartColors"
              [options]="lineBigDashboardChartOptions"
              [chartType]="lineBigDashboardChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Global Sales</h5>
        <h4 class="card-title">Shipped Products</h4>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas baseChart id="lineChartExample"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [colors]="lineChartColors"
                      [options]="lineChartOptions"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">2018 Sales</h5>
        <h4 class="card-title">All products</h4>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
          <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                      [datasets]="lineChartWithNumbersAndGridData"
                      [labels]="lineChartWithNumbersAndGridLabels"
                      [colors]="lineChartWithNumbersAndGridColors"
                      [options]="lineChartWithNumbersAndGridOptions"
                      [chartType]="lineChartWithNumbersAndGridType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Email Statistics</h5>
        <h4 class="card-title">24 Hours Performance</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas baseChart id="barChartSimpleGradientsNumbers"
                      [datasets]="lineChartGradientsNumbersData"
                      [labels]="lineChartGradientsNumbersLabels"
                      [colors]="lineChartGradientsNumbersColors"
                      [options]="lineChartGradientsNumbersOptions"
                      [chartType]="lineChartGradientsNumbersType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card  card-tasks">
      <div class="card-header ">
        <h5 class="card-category">Backend development</h5>
        <h4 class="card-title">Tasks</h4>
      </div>
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">Sign contract for "What are conference organizers afraid of?"</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">All Persons List</h5>
        <h4 class="card-title"> Employees Stats</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Country
              </th>
              <th>
                City
              </th>
              <th class="text-right">
                Salary
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

