<!-- <app-header></app-header>
<app-Opmenu></app-Opmenu>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Operator Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Operator Dashboard</li>
            <li class="breadcrumb-item active">{{ this.ID }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content-header">
    <div class="container-fluid">
      <div class="col-lg-3 col-6">
        <div class="container">
          <!-- <h1>Angular Select Dropdown Example - Tutsmake.com</h1> -->

          <form [formGroup]="form" (ngSubmit)="submit()">
            <!-- <div class="form-group"> -->
            <label for="website">Daily:</label>
            <select
              formControlName="website"
              class="form-control"
              (change)="changeWebsite($event)"
              (click)="changeData()"
            >
              <option disabled>Select Date</option>

              <option *ngFor="let Date of Date">{{ Date.viewValue }}</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <!-- <div class="container-fluid"> -->
    <!-- Small boxes (Stat box) -->
    <section class="row">
      <div class="col-lg-6 col-12">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h1>{{ this.TruckIn }}</h1>

            <p>Number of trucks which are in</p>
            <div class="icon">
              <i class="ion-android-bus"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-6 col-12">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h1>{{ this.TruckOut }}</h1>
            <p>Number of trucks which are out</p>
            <div class="icon">
              <i class="ion-android-bus"></i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ this.FillGas }} M litre</h3>
            <!-- <h3>4800 M litre</h3> -->

            <p>Amount of Gasohol95 already filled</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <!-- <h3>48000 M litre</h3> -->
            <h3>{{ this.FillDiesel }} M litre</h3>
            <p>Amount of Diesel already filled</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ this.reDAD }} Minute</h3>

            <p>Average Diesel cycle time</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-time"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ this.reDAG }} Minute</h3>

            <p>Average Gasohol95 cycle time</p>
          </div>
          <div class="icon">
            <i class="ion ion-time"></i>
          </div>
        </div>
      </div>
    </section>

    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">
          Number and Average of data at each station
        </h3>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
  </section>
</div>
