<!-- <app-header></app-header>
<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
         
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Financial</li>
              <li class="breadcrumb-item active">{{this.ID}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <section class="row">
  
        <!-- ./col -->
         <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-gradient-info">
            <div class="inner">
           <mat-card class="mat-elevation-z5">          
              <mat-card-title>Journalizing Transaction</mat-card-title>
              <mat-card-subtitle>Daily</mat-card-subtitle>         
            <mat-card-content>              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" (click)="onClickSubmit()">Click to view at each day</button>          
            </mat-card-actions>
          </mat-card>
         </div>
        </div>
       </div>
          
        
                 <!-- ./col -->
         <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-gradient-info">
            <div class="inner">
           <mat-card class="mat-elevation-z5">          
              <mat-card-title>Purchase Order</mat-card-title>
              <mat-card-subtitle>Information</mat-card-subtitle>         
            <mat-card-content>              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" (click)="onClickSubmit1()">Click to view more</button>          
            </mat-card-actions>
          </mat-card>
         </div>
        </div>
       </div>
          
         

                  <!-- ./col -->
         <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-gradient-info">
            <div class="inner">
           <mat-card class="mat-elevation-z5">          
              <mat-card-title>Inventory Stock Card</mat-card-title>
              <mat-card-subtitle>Monthly</mat-card-subtitle>         
            <mat-card-content>              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" (click)="onClickSubmit2()">Click to view more</button>          
            </mat-card-actions>
          </mat-card>
         </div>
        </div>
       </div>

                  <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-gradient-info">
            <div class="inner">
           <mat-card class="mat-elevation-z5">          
              <mat-card-title>General Ledger</mat-card-title>
              <mat-card-subtitle>Posting</mat-card-subtitle>         
            <mat-card-content>              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" (click)="onClickSubmit3()">Click to view at each account</button>          
            </mat-card-actions>
          </mat-card>
         </div>
        </div>
       </div>
      </section>



        
        
        <section class="row">         
      
          <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-gradient-info">
            <div class="inner">
           <mat-card class="mat-elevation-z5">          
              <mat-card-title>Income Statement</mat-card-title>
              <mat-card-subtitle>Monthly</mat-card-subtitle>         
            <mat-card-content>              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" (click)="onClickSubmit4()">Click to view at each month</button>          
            </mat-card-actions>
          </mat-card>
         </div>
        </div>
       </div>




          
    

          <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-gradient-info">
            <div class="inner">
           <mat-card class="mat-elevation-z5">          
              <mat-card-title>Paid sale invoice</mat-card-title>
              <mat-card-subtitle>Information</mat-card-subtitle>         
            <mat-card-content>              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" (click)="onClickSubmit5()">Click to view more</button>          
            </mat-card-actions>
          </mat-card>
         </div>
        </div>
       </div>


           <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-gradient-info">
            <div class="inner">
           <mat-card class="mat-elevation-z5">          
              <mat-card-title>Reconciliation Sheet</mat-card-title>
              <mat-card-subtitle>Monthly</mat-card-subtitle>         
            <mat-card-content>              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" (click)="onClickSubmit6()">Click to view at each month</button>          
            </mat-card-actions>
          </mat-card>
         </div>
        </div>
       </div>
        
     
      
  


        
           
     

      </section>    
   <div>  
         
      

  
  

