<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
         
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Financial</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="content-header">
      <div class="container-fluid">
        <p>Journalizing transaction</p> 
      </div>
    </div>
      
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <section class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-transparent">
              <div class="inner">
                <h3>1M Bath</h3>

                <p>Account Receivable</p>
              </div>
              <div class="icon">
                <i class="ion-android-bus"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-transparent">
                <div class="inner">
                  <h3>2M Bath</h3>
  
                  <p>Account Payable</p>
                </div>
                <div class="icon">
                  <i class="ion-android-bus"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>Journalizing transaction</h3>

                <p>Dialy</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="http://localhost:4200/journalizing" class="small-box-footer">Click to view at each day<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>     

            <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success ">             
              <div class="inner">
                <h3>Purchase Order</h3>
                <p>Information</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-time"></i>
              </div>
              <a href="#" class="small-box-footer">Click to view more<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>       
        </section>
        
        <p>Preparing Monthly Income Statement</p>
        <section class="row">
          
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success ">             
              <div class="inner">
                <h3>Income Statement</h3>
                <p>Monthly</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-time"></i>
              </div>
              <a href="#" class="small-box-footer">Click to view at each month<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success ">             
              <div class="inner">
                <h3>Paid sale invoice</h3>
                <p>Information</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-time"></i>
              </div>
              <a href="#" class="small-box-footer">Click to view more<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        

        

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>64M Bath</h3>

                <p>Cost of goods sold</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
       

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>60M Bath</h3>

                <p>Profit</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
       

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>20M Bath</h3>

                <p>Loss</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </section>

          <p>Reconciliation Sheet (Monthly)</p>
        <section class="row">
           <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>Reconciliation Sheet</h3>

                <p>Monthly</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">Click to view at each month<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>48000 LIT</h3>

                <p>Amount of Gasohol95 already filled</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </section>

          <p>Inventory Stock Card (Monthly)</p>
        <section class="row">
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-gradient-info">
                <div class="inner">
                  <h3>Inventory Stock Card</h3>
  
                  <p>Monthly</p>
                </div>
                <div class="icon">
                  <i class="ion-android-bus"></i>
                </div>
                <a href="#" class="small-box-footer">Click to view at month<i class="fas fa-arrow-circle-right"></i></a>
              </div>
          </div>
        </section>
     
         
      
</div>
  
  

