<!-- <app-header></app-header>
<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Financial Dashboard </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Finance</li>
            <li class="breadcrumb-item active">{{this.ID}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <!-- /.content-header -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="col-lg-3 col-6">
        <div class="container">
          <!-- <h1>Angular Select Dropdown Example - Tutsmake.com</h1> -->

          <form [formGroup]="form" (ngSubmit)="submit()">
            <!-- <div class="form-group"> -->
            <label for="website">Daily:</label>
            <select formControlName="website" class="form-control" (change)="changeWebsite($event)"
              (click)="changeData()">
              <option disabled>Select Date</option>

              <option *ngFor="let Date of Date">{{ Date.viewValue }}</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">Number Of Truck IN/OUT</h3>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>

      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <section class="content">
    <!-- <div class="container-fluid"> -->
    <!-- Small boxes (Stat box) -->

    <!-- <section class="row">
      <div class="col-lg-3.05 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ this.TruckIn }}</h3>

            <p>Number of trucks which are in</p>
          </div>
          <div class="icon">
            <i class="ion-android-bus"></i>
          </div>
        </div>
      </div>


      <div class="col-lg-4.15 col-6">

        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ this.TruckOut }}</h3>
            <p>Number of trucks which are out</p>
          </div>
          <div class="icon">
            <i class="ion-android-bus"></i>
          </div>
        </div>
      </div>
    </section> -->

    <section class="row">
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ this.FillGas }} M litre</h3>

            <p>Amount of Gasohol95 already filled</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
        </div>
      </div>


      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ this.FillDiesel }} M litre</h3>

            <p>Amount of Diesel already filled</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
        </div>
      </div>


      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info ">
          <div class="inner">
            <h3>{{ this.reDAD }} Minute</h3>

            <p>Average Diesel cycle time</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-time"></i>
          </div>
        </div>
      </div>

      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ this.reDAG }} Minute</h3>

            <p>Average Gasohol95 cycle time</p>
          </div>
          <div class="icon">
            <i class="ion ion-time"></i>
          </div>
        </div>
      </div>
    </section>

    <section class="row">

      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">
            Number and Average of data at each station
          </h3>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </section>
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Start/End Time for each process to determine service time</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Station</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>

                  </tr>
                </thead>
              </table>
            </div>


          </div>
        </div>
        <div class="content-header">
          <div class="container-fluid">
            <div class="col-lg-3 col-6">
              <div class="container">
                <!-- <h1>Angular Select Dropdown Example - Tutsmake.com</h1> -->

                <form [formGroup]="form" (ngSubmit)="submit()">
                  <!-- <div class="form-group"> -->
                  <label for="website">Select station</label>
                  <select formControlName="website" class="form-control" (change)="changeWebsite($event)"
                    >

                    <option selected>Select station</option>

                    <option *ngFor="let Bay of Bay">{{ Bay.viewValue }}</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card-header border-0">
          <h3 class="mb-0">Daily</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">PO Number</th>
                <th scope="col">TIME IN</th>
                <th scope="col">TIME OUT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let Item of ReceiveData">
                <td data-title="Date">{{Item.Date}}</td>
                <td data-title="PO Number">{{Item.PO_NUMBER}}</td>
                <td data-title="TIME IN">{{Item.TIME_IN}}</td>
                <td data-title="TIME OUT">{{Item.TIME_OUT}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
