<!-- <app-header></app-header>
<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Manager Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Manager Dashboard</li>
              <li class="breadcrumb-item active">{{this.ID}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    
    <!-- /.content-header -->
    <div class="content-header">
      <div class="container-fluid">
        <h4>Weekly/Monthly</h4>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option *ngFor="let Date of Date" [value]="Date.value">
              {{Date.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <section class="row">
          <div class="col-lg-3.05 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>6</h3>

                <p>Number of trucks which are in</p>
              </div>
              <div class="icon">
                <i class="ion-android-bus"></i>
              </div>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-4.15 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>6<sup style="font-size: 20px"></sup></h3>
                <p>Number of trucks which are out</p>
              </div>
              <div class="icon">
                <i class="ion-android-bus"></i>
              </div>
            </div>
          </div>

          <section class="row">
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>48000 LIT</h3>

                <p>Amount of Gasohol95 already filled</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>            
            </div>
          </div>
        
          
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>48000 LIT</h3>

                <p>Amount of Diesel already filled</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>             
            </div>
          </div>
        
          
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info ">             
              <div class="inner">
                <h3>55 Minute</h3>

                <p>Average Diesel cycle time</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-time"></i>
              </div>             
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>64 Minute</h3>

                <p>Average Gasohol95 cycle time</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>             
            </div>
          </div>
        </section>

        <section class="row">
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>1 Truck</h3>
  
                <p>Average of queue at Sale Office</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>           
            </div>
          </div>
  
  
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>1 Truck</h3>
  
                <p>Average of queue at Inbound WB</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>           
            </div>
          </div>
  
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>1 Truck</h3>
  
                <p>Average of queue at Gasohol95 Bay</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>           
            </div>
          </div>
  
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>1 Truck</h3>
  
                <p>Average of queue at Diesel Bay</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>           
            </div>
          </div>
  
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>1 Truck</h3>
  
                <p>Average of queue at Outbound WB</p>
              </div>
              <div class="icon">
                <i class="ion ion-time"></i>
              </div>           
            </div>
          </div>
         </section>
  

        <section class="row">
        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1 Truck</h3>

              <p>Number of trucks which are WIP at Sale Office</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>


        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1 Truck</h3>

              <p>Number of trucks which are WIP at Inbound WB</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1 Truck</h3>

              <p>Number of trucks which are WIP at Gasohol95 Bay</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1 Truck</h3>

              <p>Number of trucks which are WIP at Diesel Bay</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1 Truck</h3>

              <p>Number of trucks which are WIP at Outbound WB</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>
       </section>

       <section class="row">
        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>0</h3>

              <p>Scheduled utilization of Sale Office</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>


        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>0.42</h3>

              <p>Scheduled utilization of Inbound WB</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1</h3>

              <p>Scheduled utilization of Gasohol Bay</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>0</h3>

              <p>Scheduled utilization of Diesel Bay</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-2 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1</h3>

              <p>Scheduled utilization of Outbound WB</p>
            </div>
            <div class="icon">
              <i class="ion ion-time"></i>
            </div>           
          </div>
        </div>
       </section>

        
       <section class="row">
        <!-- solid sales graph -->
        <section class="card bg-gradient-info">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-th mr-1"></i>
              Average waiting time at each station
            </h3>
            <div class="card-tools">
              <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas baseChart 
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas> 
          </div>
          <!-- /.card-body -->
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-4 text-center">
                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"  data-fgColor="#39CCCC">
              </div>
            </div>
          </div>
        </section>


        <section class="card bg-gradient-info">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-th mr-1"></i>
             Number of Resource busy 
            </h3>
            <div class="card-tools">
              <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas baseChart 
              [datasets]="barChartData1"
              [labels]="barChartLabels1"
              [options]="barChartOptions1"
              [plugins]="barChartPlugins1"
              [legend]="barChartLegend1"
              [chartType]="barChartType1">
            </canvas> 
          </div>
          <!-- /.card-body -->
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-4 text-center">
                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"  data-fgColor="#32CCCC">
              </div>
            </div>
          </div>
        </section>

        <section class="card bg-gradient-info">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-th mr-1"></i>
             Number of Failed time at each station (Downtime)
            </h3>
            <div class="card-tools">
              <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas baseChart 
              [datasets]="barChartData2"
              [labels]="barChartLabels2"
              [options]="barChartOptions2"
              [plugins]="barChartPlugins2"
              [legend]="barChartLegend2"
              [chartType]="barChartType2">
            </canvas> 
          </div>
          <!-- /.card-body -->
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-4 text-center">
                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"  data-fgColor="#32CCCC">
              </div>
            </div>
          </div>
        </section>

      </section>

          

      
    </section>
</div>
  
  
