<!-- <app-header></app-header>
<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Income statement</li>
              <li class="breadcrumb-item active">{{this.ID}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Month : March</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Sale</th>
                      <th scope="col">Cost of good sold</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let Item of Income">
                      <td data-title="Type">{{Item.Type}}</td>
                      <td data-title="Sale">{{Item.Sale}}</td>
                      <td data-title="Cost of good sold">{{Item. Cost_of_good_sold}}</td>
                    </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>



</div>
