<thead > <!-- angular text-->
    <!-- <tr>
        <th>DriverID    </th>
        <th>TruckRegistration</th>
        <th>DriverName</th>
        <th>DriverSurname</th>
        <th>DriverPhonenumber</th>
    </tr> -->
</thead>
<table>
  <tr>
    <th>UserID &emsp;</th>
    <th>UserName_By_Email &emsp;</th>
    <th>NameUser &emsp;</th>
    <th>Position &emsp;</th>
    <!-- <th>Email &emsp;</th> -->
    <th>phoneNumber &emsp;</th>
    <th>Age &emsp;</th>
    <th>Gender &emsp;</th>
    
  </tr>

  <tr *ngFor="let dataItem of UsersAll1">
    <td>{{dataItem.UserID}}&emsp;</td>
    <td>{{dataItem.UserName_By_Email}}&emsp;</td>
    <td>{{dataItem.NameUser}}&emsp;</td>
    <td>{{dataItem.Position}}&emsp;</td>
    <!-- <td>{{dataItem.Email}}&emsp;</td> -->
    <td>{{dataItem.phoneNumber}}&emsp;</td>
    <td>{{dataItem.Age}}&emsp;</td>
    <td>{{dataItem.Gender}}&emsp;</td>
  </tr>
</table>


